.quarto-title-block .quarto-title-banner {
  background-image: url(images/zhweb.png);
  background-size: 150px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 20px;
  background-origin: content-box;
}