/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Arial", Arial, serif !default;

// colors
$link-color: #0076BD !default;


// headings
$headings-font-family: "Arial Black", Arial, serif !default;
$h2-color: #0076BD !default;


// tabset
$nav-pills-link-active-bg: #0076BD !default;


// callouts
$callout-color-note: #0076BD !default;