.quarto-title-block .quarto-title-banner {
  background-image: url(../images/zhweb.png);
  background-size: 75px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
  min-height: 85px;
}

.quarto-title  {
  margin-left: 55px;
}

@media(min-width: 768px) {

  .quarto-title-block .quarto-title-banner {
    background-size: 150px;
    padding-left: 20px;
    min-height: 160px;
  }

  .quarto-title  {
    margin-left: 0px;
  }
}

.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: unset !important;
  right: unset !important;
  top: 5px;
  left: 12px;
  height: 9vw !important;
  width: 9vw !important;
  max-width: unset !important;
  max-height: unset !important;
}

/* Maximum aspect ratio */
@media (max-aspect-ratio: 15/9) {
  .reveal.has-logo .slides {
    inset: 50% auto auto 54.7% !important;
  }
}

/* Maximum aspect ratio */
@media (max-aspect-ratio: 5/4) {
  .reveal.has-logo .slides {
    inset: 50% auto auto 50% !important;
  }
}